body {
  background-color: silver;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

h1 {
  color: red;
  font-size: 24px;
  font-family: verdana;
  padding: 30px;
  text-align: center;
}

p {
  color: grey;
  font-size: 14px;
  padding: 30px;
  text-align: center;
}
